.App {
  text-align: center;
  width: 70%;
  margin: 100px auto;
}
.table{
  margin-top: 50px;
}
.btn{
  margin-right: 10px;
}
.table-input{
  border: none;
}
.table-input:focus{
  outline: none;
}
.invisible{
  display: none;
}
input::placeholder{
  color: black;
}
input::placeholder:focus{
  color: white;
}


